body
{
    font-size: small;
    font-family: arial,sans-serif;
}

nav
{
    font-size: 13;
    text-align: right;
    display: block;
    margin-right: -10px;
    margin-top: 10px;
}

nav a
{
    display: inline block;
    text-decoration: none;
    color: black;
    margin: 10px 15px 0px 2px;
    padding-top: 10px;
}

nav a:hover
{
    text-decoration: underline;
}

#grid_img
{
    width: 15px;
    height: 15px;
}

#sign_in
{
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    text-decoration: none;
}

.logo
{
    display: block;
    text-align: center;
    margin-top: 200px; 
    margin-bottom: 30px;
}

.search
{
    position: relative;
    text-align: center;
    width: 600px;
    margin: auto;
}

.search input
{
    border-style: solid;
    height: 40px;
    width: 500px;
    border-width: 1px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 120%;
    padding-right: 80px;
    padding-left: 40px;
    border-color: #dfe1e5;
}

.search input:hover
{   
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.search input:focus
{
    outline: none;
}

.search img
{
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 13px;
    left: 65px;
    color: grey;
}

.r_images
{
    position: absolute;
    bottom: 44px;
    left: 410px;
}

.r_images img
{
    display: block;
}

#mic_img
{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 35px;
}

#keyboard_img
{
    width: 22px;
    height: 22px;
    display: block;
}

.buttons
{
    text-align: center;
}

.buttons button
{
    font: verdana;
    font-size: 14px;
    line-height: 27px;
    width: 140px;
    height: 36px;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #f3f2f2;
    color: rgb(116, 116, 116);
    box-sizing: border-box;
}

.buttons button:focus
{
    outline: none;
}

.buttons button:hover
{
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

#glogo
{
    height: 90px;
    width: 270px;
}