body
{
    font-size: small;
}

.logo
{
    text-align: center;
    margin-top: 200px; 
    margin-bottom: 30px;
}

.search
{
    position: relative;
    text-align: center;
    width: 600px;
    margin: auto;
}

.search input
{
    border-style: solid;
    height: 40px;
    width: 500px;
    border-width: 1px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 120%;
    padding-right: 80px;
    padding-left: 40px;
    border-color: #dfe1e5;
}

.search input:hover
{   
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.search input:focus
{
    outline: none;
}

.search img
{
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 13px;
    left: 65px;
    color: grey;
}

.buttons
{
    text-align: center;
}

.buttons button
{
    font: verdana;
    font-size: 14px;
    line-height: 27px;
    width: 140px;
    height: 36px;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #f3f2f2;
    color: rgb(116, 116, 116);
    box-sizing: border-box;
}

.buttons button:focus
{
    outline: none;
}

.buttons button:hover
{
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

#glogo
{
    height: 90px;
    width: 270px;
}